/* content */
.container {
  margin-top: 10%;
}
.left-content {
  width:  65%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.logo-cart {
  display: flex;
  align-items: center;
  gap: 7px;
}

.logo-cart i{
  font-size: 35px;
  margin-right: 10px;
}

.logo-cart p {
  margin: 0;
  font-weight: 'nunito';
  font-size: 24px;
}

.logo-cart p:nth-child(2){
  font-weight: 700;
}

.logo-cart p:last-child{
  font-weight: 500;
}

/* cart content */
.content{
  display: flex;
  gap: 30px;
  margin-top: 120px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 65px 10px;
  align-items: flex-start;
}
.cart-content {
  width: 100%;
  margin-top: 20px;
}

.check-all {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
}

.check {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 700;
  font-style: 'nuniuto';
  position: relative;
}


.delete button {
  background-color: transparent;
  border: none;
  color: #77A4FF;
  font-style: 'nunito';
  font-weight: 500;

}

.cart-product {
  width: 100%;
  height: 160px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  align-items: center;
}

.header-cart {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: -5px;
}

.header-cart #check{
  margin-left: 30px;
}
.store {
  font-size: 25px;
  color: black;
}

.header-cart a{
  display: flex;
  align-items: center ;
  gap: 10px;
}
.header-cart p{
  margin-top: 10px;
  color: #000;
}
.content-product{
  display: flex;
  width: 95%;
  padding: 10px 20px;
  border-top: solid black 0.5px;
  margin: 0px auto;
  box-sizing: border-box;   
}
.details-product{
  display: flex;
  flex-direction: column;
  line-height: 15px;
  width: 100%;
}
.content-product img{
  width: 120px;
  height: 90px;
  object-fit: cover;
  margin-right: 20px;
  margin-left: -15px;
}
.row-1 .name p:first-child{
  font-size: 13px;
  color: #77A4FF;
  margin-bottom: 2px;
  margin-top: 15px;
}
.row-1 {
  display: flex;
  justify-content: space-between;
}
.row-1 .price{
font-size: 18px;
}
.row-2 {
  display: flex;
}
.row-2 .row-kanan{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.row-2 .row-kanan button{
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.row-2 .row-kanan input{
  width: 20px;
  background-color: transparent;
  border: none;
  margin-left: 10px;
}
.row-kanan .quantity button{
  font-size: 20px;
}
.heart{
  font-size: 20px;
  margin-top: 5px;
  color: red;
}
.trash{
  font-size: 20px;
  position: relative;
  top: 4px;
  border-left: solid black 1px;
  padding-left: 10px;
}
.stock{
  font-size: 13px;
  color: #77A4FF;
}
.type{
  background-color: #77A4FF;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  font-size: 14px;

}
.favs button{
  position: relative;
  top: -5px;
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 10px;

}

/* card summary */
.card-summary{
  width: 500px;
  height: fit-content;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 20px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-summary .summary{
  font-size: 20px;
  font-weight: 700;
  margin-left: -69%;

}
.card-summary .product{
  line-height: 10px;
  border-top: #000 solid 0.5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.503);
}
.card-summary .product button{
  font-size: 50px;
  background-color: transparent;
  border: none;
  position: relative;
  left: 95%;
  margin:  0px 0px 20px 0px;
  font-weight: 300;
}

.card-summary .row1{
  display: flex;
  justify-content: center;
  gap: 150px
}
.card-summary .row1 .price{
  display: flex;
  gap: 20px;
}
.card-summary .row-2{
  display: flex;
  justify-content: center;
  gap: 170px
}
.card-summary .row-2 .subtotal{
  display: flex;
  gap: 5px;
  font-size: 14px;
  opacity: 0.7;
}
.software{
  background-color: #77A4FF;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
.total{
  display: flex;
  gap: 250px;
}
.total p{
  font-weight: 700;
}
.btn button{
  padding: 8px 10px;
  width: 400px;
  background-color: #5874AF;
  color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
}
