.container{
  margin-top: 130px;
}
.container-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content-title{
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}
.desc{
  display: flex;
}
.product-name label{
  margin-right: 50px;
  font-weight: 500;
}
.desc label{
  margin-right: 76px;
  font-weight: 500;
}
.stock label{
  margin-right: 80px;
  font-weight: 500;
}
.product-category label{
  margin-right: 29px;
  font-weight: 500;
}
.product-tipe label {
  margin-right: 62px;
  font-weight: 500;
}
.price label{
  margin-right: 118.5px;
  font-weight: 500;
}
.related-tags label{
  margin-right: 65px;
  font-weight: 500;
}
.double-row{
  display: flex;
  gap: 90px;
  font-weight: 500;
}
.double-row .left-row{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.double-row .right-row{
  line-height: 35px;
}
.image{
  width: 740px;
  height: 185px;
  border: rgba(0, 0, 0, 0.548) solid 1px;
  border-radius: 3px;
}
.related-tags{
  display: flex;
}
.stock input{
  height: 26px;
}
.tags{
  width: 300px;
  height: 150px;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: 3px;
}
.btn{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
}
.btn button {
  padding: 10px;
  width: 150px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
}

.btn .cancle{
  background-color: #b10404b1;
  color: white;
  border: none;
}
.btn .upload{
  background-color: #5874AF;
  color: white;
  border: none;  
}

