.container{
  margin-top: 120px;
}
.your-fav{
display: flex;
gap: 10px;
align-items: center;
margin-bottom: 20px;
}
.heart{
font-size: 30px;
color: red;
}
.your-fav p{
font-size: 25px;
margin-top: 10px;
}

/* card */
.content{
display: flex;
justify-content: center;
gap: 30px;
}
.card-row{
display: flex;
flex-direction: column;
gap: 20px;
}
.right-card{
display: flex;
flex-direction: column;
gap: 20px;
}
.card{
width: 600px;
}
/* header card */
.header-card{
display: flex;
margin: 10px 15px;
gap: 10px;
width: 95%;
border-bottom: #000 solid 1px;
}
.header-card img{
width: 40px;
height: 40px;
border-radius: 50%;
}
.header-card p{
font-size: 18px;
margin-top: 5px;
}
/* content card */
.content-card{
display: flex;
margin: 0px 15px 5px ;
align-items: center;
gap: 10px;
justify-content: space-between;
}

.content-card img{
  width: 100px;
  height: 100px;
  object-fit: cover;

}
.left-row{
display: flex;
gap: 10px;

align-items: center;
}

/* content-card details */
.content-card .details{
line-height: 5px;
margin-top: 20px;

}
.category{
font-size: 10px;
color: gray;
}

.type{
background-color: #77A4FF;
width: fit-content;
padding: 7px 10px;
border-radius: 4px;
color: white;
font-size: 10px;
}

/* content card right row */
.right-row{
display: flex;
flex-direction: column;
align-items: flex-end;
}
.right-row .last-row{
display: flex;
align-items: center;
gap: 5px;

}
.right-row .last-row button{
padding: 3px 15px;
border-radius: 5px;
font-size: 12px;
background-color: #5874AF;
color: white;
border: none;
}
.trash{
font-size: 25px
}

.page{
display: flex;
font-size: 20px;
justify-content: center;
gap: 20px;
margin-top: 70px;
}
.page a{
font-size: 16px;
width: 30px;
height: 30px;
background-color: #1C3879;
color: white;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
border-radius: 5px;
}

.page p{
font-weight: 600;
}


