/* header */
body{
  overflow-x: hidden;
}

.content {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-content{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

.bg-tio{
  width: 300px;
  height: fit-content;
  background: rgb(89,117,176);
background: linear-gradient(180deg, rgba(89,117,176,0.1) 29%, rgba(10,11,66,0) 100%);
  display: flex;
  justify-content: center;
  border-radius: 20px;

  
}

.bg-bian{
  width: 300px;
  height: fit-content;
  background: rgb(234,128,162);
  background: linear-gradient(180deg, rgba(234,128,162,0.1) 29%, rgba(10,11,66,0) 100%);
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.bg-tio img, .bg-bian img{
  width: 700px;
}

.middle-row {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.middle-row h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #5874AF;
}

.middle-title h1{
  background: linear-gradient(to bottom, #5874AF 0%, #1b4663 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.middle-title {
  border: 1px solid #000;
  width: fit-content;
  padding: 0px 45px;
  z-index: -2;
}
.box-top-left{
  width: 20px;
  height: 20px;
  background-color: #5874AF;
  transform: translate(-220px, -115px);
  z-index: -1;
}
.box-bottom-left{
  width: 20px;
  height: 20px;
  background-color: #5874AF;
  transform: translate(-220px, -30px);
  z-index: -1;
}
.box-top-right{
  width: 20px;
  height: 20px;
  background-color: #5874AF;
  transform: translate(220px, -155px);
  z-index: -1;
}
.box-bottom-right{
  width: 20px;
  height: 20px;
  background-color: #5874AF;
  transform: translate(220px, -70px);
  z-index: -1;
}

.btn-explore {
  margin: -60px;
}

.btn-explore button{
  width: 200px;
  height: 50px;
  border-radius: 8px;
  letter-spacing: 5px;
  background-color: #5874AF;
  color: white;
  border: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.sorted {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sorted h3{
  letter-spacing: 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.jurusan{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.bc img {
  width: 170px;
}
.mm img {
  width: 110px;
}
.rpl img {
  width: 145px;
}
.tjkt img {
  width: 150px;
}
.te img {
  width: 170px;
}

.bc,
.mm,
.rpl,
.tjkt,
.te {
  width: 170px;
  height: 170px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.featured-product {
  width: 1200px;
  height: 600px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  border-radius: 7px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-product h1 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  font-size: 50px;
  color: #3F5788;
  margin: 0;
}

.featured-product h2 {
  font-style: italic;
  font-weight: 900;
  color:  #3f5788c9;
  font-size: 43px;
  letter-spacing: 10px;
  margin: 0;
}

.product {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.img-product {
  width: 450px;
  height: 450px;
}

.img-product img {
  width: 450px;
  height: 350px;
  object-fit: cover;
}

.desc-product {
  width: 600px;
}

.name-product h3{
  font-size: 30px;
  color: #243964;
  font-family: 'Raleway', sans-serif;
}

.price-featured p{
  font-size: 30px;
  color: #243964;
  font-family: 'Poppins', sans-serif;
}

.description{
  width: 200px;
  height: 200px;
}

.description p{
  font-size: 19px;
  color: #333333;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

.btn-featured {
  display: flex;
}

.btn-buy {
  width: 160px;
  height: 55px;
  background: #1C3879;
  border: none;
  border-radius: 11px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Nunito';
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-right: 50px;
}

.btn-cart {
  width: 160px;
  height: 55px;
  background: transparent;
  border: 1px solid black;
  border-radius: 1vh;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 18px;
  font-family: 'Nunito';
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}

.our-product {
  margin-top: 50px;
  width: 1300px;
}

.our-product h1 {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #5874AF 0%, #1b4663 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: 900;
  margin-left: 55px;
}

.our-btn {
  width: fit-content;
  margin: 20px auto;
}

.our-btn button {
  width: 150px;
  height: 35px;
  background: #243964;
  font-family: 'Nunito';
  font-weight: 700;
  border: none;  background-color: #5874AF;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
}


#wrapper {
  width: 91%;
  height: 100%;
  transform: translateX(65px);
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #243964;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(-150%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(150%, -50%);
}

#content {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
  z-index: -99;
}

.item {
  width: 180px;
  height: 180px;
  background: green;
}


.product-carousel {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.row-product{
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}
.card-product {
  width: 170px;
  height: 260px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.477);
  box-sizing: border-box;
  border-radius: 7px;
}

.card-product img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-size: contain;
  border-radius: 7px;
  margin: 10px;
}

.desc-product{
  margin: 10px;
}
.desc-product p{
  margin: 0;
}

.category-product p {
  font-size: 12px;
  color: rgb(171, 171, 171);
  font-family: 'nunito';
  margin: 2px 0px 0px 2px;
  font-weight: 600;
}

.name-product p {
  font-size: 16px;
  font-family: 'nunito';
  line-height: 1;
  margin: 0px 2px;
  height: 32px;
  width: 150px;
}

.price p{
  font-size: 16px;
  font-family: 'nunito';
  font-weight: 700;
  margin-bottom: 5px;
}

.row-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 2px;
  width: 160px;
}

.btn-detail {
  display: flex;
  gap: 7px;
  margin-left: -50px;
  margin-bottom: 5px;
}

.other-btn button{
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  display: flex;
}

.other-btn button:first-child {
  color: #0d6ec3;

}

.other-btn button:last-child {
  color: rgb(255, 53, 53);
}


/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0d1a34;
  padding-bottom: 30px;
  margin-top: 100px;
}

.kategori ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  letter-spacing: 5px;
  gap: 10px;
  list-style: none;
}

.kategori ul li p {
  color: rgb(255, 251, 243);
  font-weight: 700;
}

.kategori ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.help-center ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  letter-spacing: 5px;
  gap: 10px;
  list-style: none;
}

.help-center ul li p {
  color: rgb(255, 251, 243);
  font-weight: 700;
}

.help-center ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.school-info ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  letter-spacing: 5px;
  gap: 10px;
  list-style: none;
}

.school-info ul li p {
  color: rgb(255, 251, 243);
  font-weight: 700;
}

.school-info ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.logo-copyright {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo-copyright img {
  width: 220px;
}

.logo-copyright p {
  color: white;
  opacity: 0.5;
  font-size: 10px;
}

.konten {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 100px;
  font-size: 16px;
  padding-top: 40px;
}

.sosmed {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sosmed ul {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0px;
}

.sosmed p {
  color: white;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  margin-left: 25px;
}

.sosmed img {
  width: 40px;
  margin: 0px;
  padding: 0px;
  opacity: 0.8;
}

@media (max-width: 1240px) {
  .nav-link {
    margin-top: -8px;
    padding: 8px 7px;
  }

  .nav-link i {
    font-size: 16px;
  }

  .nav-link img {
    width: 30px;
  }

  .search-web {
    margin-left: 2%;
    position: relative;
    z-index: 2;
  }

  .layout-search {
    display: flex;
  }

  #search-web {
    width: 150px;
    height: 30px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #a1a1a177;
    font-size: 14px;
    font-family: 'Poppins';
  }

  .search-web i {
    margin-left: -15%;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  .layout-search button {
    width: 40px;
    height: 30px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 2%;
    box-shadow: 1px 1px 3px #a1a1a177;
  }

  .konten {
    font-size: 10px;
  }

  .logo-copyright img{
    width: 70px;
  }

  .logo-copyright p{
    font-size: 7px;
    text-align: center;
  }
}

@media (max-width: 675px) {
  .footer {
    display: none;
  }

  .copyright {
    display: block;
    height: 50px;
    background-color: #0d1a34;
    color: #fff;
    font-size: 14px;
    margin-top: 50px;
  }

  .copyright p{
    padding: 14px 10px;
  }

  .desciption {
    width: 200px;
  }

  .other-product img:nth-child(4){
    display: none;
  }

  #search-web {
    width: 100px;
    height: 20px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #a1a1a177;
    font-size: 14px;
    font-family: 'Poppins';
  }

  .search-web i {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }

  .layout-search button {
    width: 30px;
    height: 20px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 2%;
    box-shadow: 1px 1px 3px #a1a1a177;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link i {
    font-size: 10px;
  }

  .nav-link img {
    width: 20px;
  }

}

.footer-simple{
  display: none;
}