* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
input{
  border-radius: 3px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

textarea{
  border-radius: 3px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
}

nav {
  position: relative;
  top: 2vw;
  height: fit-content;
  box-shadow: .1vh .1vh .5vh #5874af77;
}

.nvbr {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: -0.5vh;
  z-index: 999;
}

.navbar {
  height: 70px;
  margin-top: 10px;
}

.nav-link {
  position: relative;
  color: #333333;
  z-index: 5;
}

.nav-link:hover {
  position: relative;
  color: #000000;
  z-index: 5;
}

.nav-link:active {
  position: relative;
  color: #000000;
  z-index: 5;
  background-color: transparent;
}

.logo {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.logo img {
  width: 200px;
  height: 40px;
}

.title {
  width: fit-content;
  margin: 0vw auto 0px auto;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -5%;
}

.title img {
  max-width: 10vw;
  max-height: 9.5vh;
  width: 150px;
  height: 70px;
}

.search-web {
  margin-top: 0.5%;
  margin-left: 2%;
  position: relative;
  z-index: 2;
}

.layout-search {
  display: flex;
}

#search-web {
  width: 250px;
  height: 35px;
  background: #ffffff;
  border: 0.1vh solid #9f9f9f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 1.125vw;
  box-sizing: border-box;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
  font-size: 16px;
  font-family: 'Poppins';
}

.search-web i {
  margin-left: -15%;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.layout-search button {
  width: 40px;
  height: 35px;
  background-color: #1C3879;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 2%;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
}

.navbar-collapse {
  justify-content: right;
  margin-left: 30px;
  margin-right: 25px;
  z-index: 3;
}

.user {
  border-radius: 50%;
  width: 40px;
}

.user-setting,
.logout,
.setting {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-item i {
  font-size: 20px;
  color: rgb(49, 49, 49);
}

.nav-item>* :active {
  background-color: rgba(176, 176, 176, 0.344);
  color: #000;
}

.dropdown-item {
  display: flex;
  justify-content: spnunitoace-between;
}

.dropdown-menu {
  margin-left: -70px;
}
/* end navbar */

@media (max-width: 1240px) {
  .nav-link {
    margin-top: -8px;
    padding: 8px 7px;
  }

  .nav-link i {
    font-size: 16px;
  }

  .nav-link img {
    width: 30px;
  }

  .container {
    padding: 0;
  }

  .search-web {
    margin-left: 2%;
    position: relative;
    z-index: 2;
  }

  .layout-search {
    display: flex;
  }
  .double-row .right-row{
    margin-top: 15px;
  }

  #search-web {
    width: 150px;
    height: 30px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #a1a1a177;
    font-size: 14px;
    font-family: 'Poppins';
  }

  .search-web i {
    margin-left: -15%;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }

  .layout-search button {
    width: 40px;
    height: 30px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 2%;
    box-shadow: 1px 1px 3px #a1a1a177;
  }

  .double-row{
      display: inline-block;
      gap: 90px;
      font-weight: 500;
    }
    .navbar{
      margin-top: 0px;
      height: 50px;
  }
  .layout-search{
      margin-top: -8px;
  }
}

@media (max-width: 675px) {

  #search-web {
    width: 100px;
    height: 20px;
    background: #ffffff;
    border: 0.1vh solid #9f9f9f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 1.125vw;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #a1a1a177;
    font-size: 14px;
    font-family: 'Poppins';
  }

  .search-web i {
    font-size: 12px;
    color: rgb(255, 255, 255);
  }

  .layout-search button {
    width: 30px;
    height: 20px;
    background-color: #1C3879;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 2%;
    box-shadow: 1px 1px 3px #a1a1a177;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-link i {
    font-size: 10px;
  }

  .nav-link img {
    width: 20px;
  }

  .image{
      width: 350px;
      height: 185px;
      border: rgba(0, 0, 0, 0.548) solid 1px;
      border-radius: 3px;
    }
    .logo img{
      margin-top: -20px;
  }
  svg{
      margin-top: -12px;
  }
  .navbar{
      margin-top: -8px;
      height: 40px;
  }
}
