.menu-account {
  background-color: #ECF3FE;
}

.contents {
  margin-left: 300px;
}

.sub-content{
  display: flex;
  gap:25px;
  width: 1150px;
  border-bottom: 1px solid black;
  margin: 20px 30px;
  padding: 10px;
}
.sub-content a{
  text-decoration: none;
  color: #000;
}

.sub-content a:last-child {
  color: #5874AF;
}

.row-1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.row-1 .left {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.row-1 .left img{
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 3px;
}
.row-1 .left button{
  width: 170px;
  padding: 7px;
  border-radius: 5px;
  background-color: #5874AF;
  color: white;
  border: none;
  letter-spacing: 2px;
  font-weight: 500;
}
.row-1 .right{
  line-height: 20px;
  margin-top: 30px;
}
.row-1 .right h1{
  margin-top: -20px;
}
.row-1 p:first-child{
  font-size: 20px;
}
.row-2 table{
  margin-left: 40px;
  margin-top: 20px;
  font-size: 18px;
}
.row-2 table td{
  width: 300px;
}
.row-2 table tr{
  height: 50px;
}
input, textarea{
  padding: 5px;
}

table tr td input {
  width: 565px;
}

footer{
  display: flex;
  justify-content: end;
  padding-right: 50px;
  padding-top: 10px;
  background-color: #1C3879;
  height: 50px;
  color: rgba(255, 255, 255, 0.508);
}

.btn-submit {
  width: 75%;
  text-align: end;
  margin-top: 20px;
}

.btn-submit button {
  width: 100px;
  height: 35px;
  background-color: #5874AF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: 'quicksand';
}


/* modal */
.modalProfile,
.modal {
  display: none;
  position: fixed;
  z-index: 999999999999;
  padding-top: 2vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalprofile-content,
.modal-content {
  background-color: #fefefe;
  margin: 180px auto;
  padding: 10px;
  border: 1px solid #888;
  width: 600px;
  height: 400px;
  border-radius: 7px;
}

.modalprofile-content
.modal-content  {
  margin: auto 0px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.profile-pict {
  margin: 30px 18px 10px;

}

.cust-prof {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  width: fit-content;
}



.profile-content input:last-child{
    width: 545px;
    height: 50px;
    border-radius: 5px;
}


label#largeFile:after {
  position:absolute;
  width: 550px;
  height: 250px;
  content:"Upload your file";
  left:0;
  right:0;
  margin: 0px auto;
  padding: 50px 0px;
  text-align:center;
  border-radius:10px;
  border:2px dashed rgb(161, 161, 161);
  color:#ccc;
  font-family:"quicksand";
  font-size:20px; 
}

label#largeFile:hover:after {
  border:2px dashed rgb(43, 43, 43);
  cursor:pointer;
}


label#largeFile input#file {
    width: 0px;
    height: 0px;
    display: none;
}


.btn-Profile {
    width: 98%;
    text-align: end;
    margin-top: 265px;
    margin-bottom: 10px;
}

.btn-Profile button {
    width: 80px;
    height: 35px;
    background-color: #5874af;
    color: #fff;
    font-weight: 700;
    font-family: 'Quicksand';
    border: none;
    border-radius: 7px;
}