body{
  overflow-x: hidden;
}
.content {
  width: 100%;
  margin-top: 120px;
}

.header-bg img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-profile {
  width: 300px;
  min-height: 470px;
  background-color: #fff;
  border-radius: 15px;
  position: fixed;
  top: 220px;
  left: 4%;
  box-shadow: 1px 1px 5px rgba(123, 123, 123, 0.477);
  border: 1px solid rgb(207, 207, 207);
}

.img-profile {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  margin: -50px auto 0px;
}

.desc-shop {
  margin: 0px auto;
  width: 85%;
  text-align: center;
  border-bottom: 1px solid rgb(133, 133, 133);
  height: 195px;
}

.name-shop p{
  color: #000;
  font-weight: 800;
  font-size: 30px;
  font-family: 'Quicksand';
  margin: 0;
}

.name-seller p{
  color: rgb(134, 134, 134);
  font-weight: 500;
  font-family: 'Quicksand';
  margin: 0;
}

.description p{
  color: #000;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Quicksand';
  margin: 5px 0px 7px;
}
.total-product p:first-child{
  margin: 5px 0px 0px;
  font-weight: 600;
}

.rate-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 15px;
}

.rate-shop i{
  font-size: 20px;
  color: rgb(255, 204, 0);
}

.rate-shop p {
  color: #000;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Quicksand';
  margin: 0;
}

.seller-since {
  margin-top: 180px;
  text-align: center;
  font-size: 14px;
  font-family: 'quicksand';
  font-weight: 500;
  color: #7d7d7d;
}

.filter-dropdown{
  display: flex;
  margin: 5px;

}

.filter-dropdown label{
  border: 1px solid rgb(48, 48, 48);
  border-right: none;
  padding: 0px 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.filter-dropdown select {
  width: 120px;
  padding: 0px 5px;
  color: #333333;
  font-style: 'quicksand';
  border: 1px solid rgb(48, 48, 48);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.filter-dropdown select:active{
  border: 1px solid rgb(48, 48, 48);
}

.content-product {
  margin-left: 420px;
  width: 1055px;
  display: flex;
  flex-direction: column;
}

.header-product {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
  margin-left: -80px;
}

.product-product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
  margin-left: -20px;
}

.card-product {
  width: 170px;
  height: 260px;
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(151, 151, 151, 0.477);
  box-sizing: border-box;
  border-radius: 7px;
}

.card-product img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-size: contain;
  border-radius: 7px;
  margin: 10px;
}

.desc-product{
  margin: -10px 10px 10px 10px;
}
.desc-product p{
  margin: 0;
}

.category-product p {
  font-size: 12px;
  color: rgb(171, 171, 171);
  font-family: 'nunito';
  margin: 2px 0px 0px 2px;
  font-weight: 600;
}

.name-product{
  width: 150px;
  height: 45px;
}

.name-product p {
  font-size: 16px;
  font-family: 'nunito';
  line-height: 1;
  margin: 0px 2px;
  height: 32px;
  width: 150px;
}

.price p{
  font-size: 16px;
  font-family: 'nunito';
  font-weight: 700;
  margin-bottom: 5px;
}
.row-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 2px;
}

.btn-detail {
  display: flex;
  gap: 7px;
}

.other-btn button{
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
}

.other-btn button:first-child {
  color: #0d6ec3;
}

.other-btn button:last-child {
  color: rgb(255, 53, 53);
}

.sosmed{
  margin-top: 40px;
  font-size: 14px;
}
.email{
  display: flex;
  gap: 5px;
}
.sosmed .row-2{
  display: flex;
  gap: 10px;
}
.instagram{
  display: flex;
  gap: 5px;
}
.linkedin{
  display: flex;
  gap: 5px;
}
.portfol{
  width: 250px;
  padding: 4px;
  border-radius: 5px;
  background-color: #233874;
  color: white;
}
.footer-simple{
  display: none;
}
