body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
    margin-top: 105px;
    display: flex;
}

.sidebar {
    width: 290px;
    height: 90vh;
    padding: 30px 0px 75px;
    background-color: #fff;
    border-right: 1.5px solid rgba(0, 0, 0, 0.463);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-account,
.menu-product,
.menu-transaction,
.menu-report,
.menu-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 240px;
    box-sizing: border-box;
    padding: 0px 10px;
    border-radius: 10px;
    margin: 0px auto;
  }

.sidebar-content a {
    display: flex;
    align-items: center;
}

.sidebar-content a p {
    margin: 0;
    display: flex;
    align-items: center;
}

.account,
.product,
.transaction,
.report,
.setting {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    color: #000;
}

.left {
    display: flex;
    gap: 10px;
}

.sidebar p {
    font-size: 18px;
}

.sidebar .icon {
    font-size: 40px;
}

.sidebar-footer {
    display: flex;
    align-items: center;
    gap: 30px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.567);
    padding-top: 10px;
    margin-top: 140px;
}

.sidebar-footer img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.sidebar-footer .text {
    line-height: 10px;
}

.sidebar-footer p {
    font-size: 18px;
}

.sidebar-footer p:first-child {
    font-size: 18px;
    font-weight: 700;
}