.menu-transaction {
  background-color: #ECF3FE;
}

.contents {
  margin-left: 300px;
}

.sub-content {
  display: flex;
  gap: 25px;
  width: 97%;
  border-bottom: 1px solid black;
  margin: 20px 35px;
  padding: 10px;
}

.sub-content a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}

.sub-content a:first-child {
  color: #5874af;
  font-weight: 600;
}

.content-tabs {
  margin-left: 40px;
}

table th {
  text-align: center;
  padding: 10px 0px;
}
table tr{
  border: #000 solid 0.5px;
}
table td {
  width: 230px;
  text-align: center;
  padding-top: 10px;
}

table td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.prod-details p:first-child,
.prod-details p:last-child{
    font-weight: 600;
}

.prod-details p:first-child,
.prod-details p:nth-child(2){
    margin-bottom: 12px;
}

.prod-details p:nth-child(2){
    font-weight: 600;
    opacity: .7;
    font-size: 15px;
}

#label-order {
  background-color: #5874af;
  width: 75px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: white;
}

footer {
  display: flex;
  justify-content: end;
  padding-right: 50px;
  align-items: center;
  background-color: #1C3879;
  height: 50px;
  color: rgba(255, 255, 255, 0.508);
  position: relative;
  bottom: 0;
}